.register h1, .register p{
    text-align: center;
    color: var(--cor-clara);
}


.register button{
    margin-top: 50px;
    background-color: var(--cor-1);
}
.register button:hover{
    margin-top: 50px;
    background-color: var(--cor-2);
}

.register{
    background-image: url(../../img/granola/com-laranja.jpg);
    background-size: cover;
    height: 110vh;
    width: 100vw;
    margin-bottom: -90px;
}

.register form{
    margin-top: 130px;
}


