.background_img{
    background-image: url(../../img/granola/mesa-branca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100vh;    
    position: relative;
    margin-bottom: -80px;
}

