footer {
    width: 100%;
    color: var(--cor-clara);
    background: var(--cor-2);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer__line1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    font-size: 18px;
}


.footer__logo {
    background-image: url(../img/logo_branco.png);
    background-size: cover;
    min-height: 140px;
    min-width: 200px;
    height: 100%;
    cursor: pointer;
}

.footer__list {
    list-style: none;
    line-height: 35px;
    margin-left: -40px;
}

.footer__list a,
.footer__list p {
    text-decoration: none;
    color: var(--cor-clara);
    cursor: pointer;
}

.footer__list a:hover,
.footer__list p:hover {
    text-decoration: underline;
}


.footer__line2 {
    background: var(--cor-4);
    font-size: 13px;
    text-align: center;
    padding: 1px;
}

@media screen and (max-width: 780px) {
    .footer__line1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 800px;
    }

    .footer__logo {
        max-height: 140px;
    }
}