.logo {
    width: 100px;
}

.logo img {
    max-width: 130px;
    margin-left: 30px;
    padding: 10px;
}

.menu_principal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 110px;
    background: linear-gradient(30deg, var(--cor-3), var(--cor-2));
}

.menu_principal__lista {
    list-style-type: none;
    display: flex;
    justify-content: right;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_principal__lista a {
    text-decoration: none;
    color: var(--cor-clara);
    margin-left: 30px;
    font-size: 17px;
}

.menu_principal__lista a:hover {
    font-size: 18px;
    transition: all 200ms ease;
}

.active {
    color: var(--cor-clara);
    font-weight: bold;
    font-size: 186px;
}

.active:hover {
    font-size: 18px;
}