.logo {
    background-image: url(../img/logo_branco.png);
    background-size: cover;
    max-width: 130px;
    height: 80px;
    margin-left: 40px;
    padding: 15px;
}


.menu_principal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 110px;
    background: linear-gradient(30deg, var(--cor-3), var(--cor-2));
}

.menu_principal__lista {
    list-style-type: none;
    display: flex;
    justify-content: right;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu_principal__lista a {
    text-decoration: none;
    color: var(--cor-clara);
    margin-left: 30px;
    font-size: 18px;
}

.menu_principal__lista a:hover {
    scale: 1.05;
    transition: all 200ms ease;
    color: #fff;
}

.active {
    color: var(--cor-clara);
    font-weight: bold;
}

.active:hover {
    font-size: 18px;
    scale: 1;
}