@font-face {
  font-family: 'Sora', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
}

:root {
  --cor-clara: #f8f4e3;
  --cor-1: #9dbebb;
  --cor-2: #77aca2;
  --cor-3: #468189;
  --cor-4: #175375;
  --cor-destaque: #ffc9b9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Sora', sans-serif;
  max-width: 100%;
}

/* buttons */
button {
  background-color: var(--cor-3);
  color: var(--cor-clara);
  padding: 8px 30px 8px 30px;
  border-radius: 5px;
  /* margin-top: 20px; */
  font-weight: bold;
  border: none;
  font-size: 16px;
}

button:hover {
  transition: all 150ms ease-in-out;
  background-color: var(--cor-2);
  cursor: pointer;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(23, 83, 117, 0.7);
  width: 70vw;
  border-radius: 9px;
  padding-top: 50px;
  padding-bottom: 50px;
}

label {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  color: var(--cor-clara);
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
}

input {
  width: 45vw;
  height: 25px;
}

textarea {
  width: 45vw;
  margin-bottom: 30px;
}

.text-button {
  color: var(--cor-clara);
}

.text-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden{
  display: none;
}